.registro {
    width: 400px;
    height: 550px;
    background: #000000;
    margin: auto;
    margin-top: 8%;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #9684a3;
    color: white;
}
  
.registro h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
.control {
    width: 95%;
    border: 1px solid #9684a3;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
.boton {
    width: 100%;
    height: 40px;
    background: #9684a3;
    border: none;
    color: white;
    margin-bottom: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.boton:hover{
    background-color: #9684a3;
    color:blanchedalmond;
    font-size: 18px;
    text-transform: capitalize;
}
  
.registro p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #9684a3;
}
.registro h6{
    font-size: 18px;
} 
.registro a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}